.dashboard-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.dashboard-box {
  background: linear-gradient(45deg, #eeb5a0, #dbc2a6);
  border-radius: 20px;
  padding: 40px;
  width: fit-content;
  /* max-width: 700px; */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.dashboard-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.8rem;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.text-input {
  flex: 1;
  padding: 12px 16px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  outline: none;
  background: linear-gradient(45deg, #7cd9e5, #d7e762);
  color: white;
}

.text-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.submit-btn {
  background: linear-gradient(45deg, #a855f7, #ec4899);
  border: none;
  border-radius: 10px;
  padding: 10px 16px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
  color: white;
  transition: transform 0.2s;
}



.file-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.file-card {
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #a855f7, #ec4899);
  padding: 15px;
  border-radius: 10px;
  position: relative;
}

.file-card input[type="file"],
.file-card input[type="text"] {
  margin-top: 8px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.remove-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background: transparent;
  color: #ff4d4d;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.loading {
  text-align: center;
  margin-top: 20px;
}

.spinner {
  width: 25px;
  height: 25px;
  border: 4px solid rgba(255, 255, 255, 0.4);
  border-top: 4px solid white;
  border-radius: 50%;
  margin: 0 auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.result-box {
  margin-top: 25px;
}

.result-card {
  background: rgba(255, 255, 255, 0.15);
  padding: 12px;
  border-radius: 10px;
  margin-top: 10px;
}

.error-box {
  background: rgba(210, 221, 113, 0.2);
  color: #9c1313;
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .dashboard-box {
    padding: 20px;
    width: 100%;
  }
  .file-section{
    display: flex;
    flex-direction: column;
  }
}